<!DOCTYPE html>
<html>
<head>
    {% if favicon %}
        <link rel="icon" href="{{ favicon }}">
    {% endif %}
    <style>
        {% block inline_styles %}
        html, body {
            height: 100%;
            width: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            background: #f5f6f8 !important;
        }

        nav.navbar {
            flex: 0 0 auto;
            color: #dfe1e3;
        }

        #graphiql {
            height: 100%;
            width: 100%;
        }

        #login {
            opacity: 0.95;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12)
        }

        {% endblock %}
    </style>

    {% block bootstrap %}
        <script src="{{ asset('bundles/ynlographql/js/jquery-3.1.1.slim.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/tether/js/tether.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/ynlographql/bootstrap/css/bootstrap-grid.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/ynlographql/bootstrap/css/bootstrap.min.css') }}"/>
    {% endblock %}
</head>
<body>
{% if form %}
    {% form_theme form '@YnloGraphQL/form_themes/bootstrap_4_layout.html.twig' %}
{% endif %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('api_explore') }}">
        {{ title }}
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="input-group  justify-content-end">
                {% if authenticationEnabled %}
                    {% if not isAuthenticated %}
                        {% if not authenticationRequired %}
                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#loginModal">
                                Login
                            </button>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('api_explore', {'logout':true}) }}" class="btn btn-danger">
                            Logout
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
{% if isAuthenticated or not authenticationRequired %}
    {% block data_warning %}
        <div class="rounded-0 m-0 alert alert-{{ dataWarningStyle }} {% if dataWarningDismissible %}alert-dismissible{% endif %} fade show" role="alert">
            {{ dataWarningMessage|trans|raw }}
            {% if dataWarningDismissible %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
        </div>
    {% endblock %}
    {% block graphiql_frame %}
        <iframe id="graphiql" src="{{ path('api_explore_graphiql') }}" frameborder="0">

        </iframe>
    {% endblock %}
{% else %}
    {% block login_container %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div id="login" class="jumbotron" style="margin-top: 50px">
                        {% block before_login_form %}
                            {% if loginMessage %}
                                <p class="lead">
                                    {{ loginMessage|trans|raw }}
                                </p>
                                <hr class="my-4">
                            {% endif %}
                        {% endblock %}
                        {% block login_form %}
                            <form action="{{ path('api_explore') }}" method="post">
                                {% if form %}
                                    {{ form_widget(form) }}
                                {% endif %}
                                <hr class="my-4">
                                <button type="submit" class="btn btn-lg btn-block btn-success">Login</button>
                            </form>
                        {% endblock %}
                        {% block after_login_form %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% if not authenticationRequired %}
    {% block login_modal %}
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form action="{{ path('api_explore') }}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% block login_modal_header %}
                                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            {% endblock %}
                        </div>
                        <div class="modal-body">
                            {% if loginMessage %}
                                <p class="lead">
                                    {{ loginMessage|trans|raw }}
                                </p>
                                <hr class="my-4">
                            {% endif %}
                            {% block login_modal_form %}
                                {% if form %}
                                    {{ form_widget(form) }}
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="modal-footer">
                            {% block login_modal_btns %}
                                <button type="button" class="btn btn-light" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-success">Login</button>
                            {% endblock %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if form and hasAuthenticationError %}
        <script>
            $('#loginModal').modal('show');
        </script>
        {% endif %}
    {% endblock %}
{% endif %}
</body>
</html>
