<!DOCTYPE html>
<html>
<head>
    <style>
        {% block inline_styles %}
        html, body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #graphiql {
            height: 100vh;
        }

        #graphiql .graphiql-container .topBar .title {
            display: none;
        }

        .graphiql-container .editorWrap {
            overflow: hidden;
        }

        #loading {
            background: url("{{ asset('bundles/ynlographql/img/spinner.gif') }}") center no-repeat;
            width: 100%;
            height: 100%;
        }

        {% endblock %}
    </style>
    {% block graphiql_required_assets %}
        <script src="{{ asset('bundles/ynlographql/js/es6-promise.auto.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/js/fetch.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/js/react.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/js/react-dom.min.js') }}"></script>
        <script src="{{ asset('bundles/ynlographql/graphiql/graphiql.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/ynlographql/graphiql/graphiql.css') }}"/>
    {% endblock %}
</head>
<body>
{% block graphiql %}
    <div id="graphiql">
        {% block loading_content %}
            <div id="loading"></div>
        {% endblock %}
    </div>
{% endblock %}
<script>
    {% block build_script %}
    // Parse the search string to get url parameters.
    var search = window.location.search;
    var parameters = {};
    search.substr(1).split('&').forEach(function (entry) {
        var eq = entry.indexOf('=');
        if (eq >= 0) {
            parameters[decodeURIComponent(entry.slice(0, eq))] =
                decodeURIComponent(entry.slice(eq + 1));
        }
    });

    // if variables was provided, try to format it.
    if (parameters.variables) {
        try {
            parameters.variables =
                JSON.stringify(JSON.parse(parameters.variables), null, 2);
        } catch (e) {
            // Do nothing, we want to display the invalid JSON as a string, rather
            // than present an error.
        }
    }

    // When the query and variables string is edited, update the URL bar so
    // that it can be easily shared
    function onEditQuery(newQuery) {
        parameters.query = newQuery;
        updateURL();
    }

    function onEditVariables(newVariables) {
        parameters.variables = newVariables;
        updateURL();
    }

    function onEditOperationName(newOperationName) {
        parameters.operationName = newOperationName;
        updateURL();
    }

    function updateURL() {
        var newSearch = '?' + Object.keys(parameters).filter(function (key) {
            return Boolean(parameters[key]);
        }).map(function (key) {
            return encodeURIComponent(key) + '=' +
                encodeURIComponent(parameters[key]);
        }).join('&');
        history.replaceState(null, null, newSearch);
    }

    function graphQLFetcher(graphQLParams) {
        return fetch('{{ url('api_root') }}', {
            method: '{{ method }}',
            headers: {{ headers|json_encode|raw }},
            body: JSON.stringify(graphQLParams),
            credentials: 'include'
        }).then(function (response) {
            return response.text();
        }).then(function (responseBody) {
            try {
                return JSON.parse(responseBody);
            } catch (error) {
                return responseBody;
            }
        });
    }

    ReactDOM.render(
        React.createElement(GraphiQL, {
            fetcher: graphQLFetcher,
            query: parameters.query,
            variables: parameters.variables,
            operationName: parameters.operationName,
            onEditQuery: onEditQuery,
            onEditVariables: onEditVariables,
            onEditOperationName: onEditOperationName
        }),
        document.getElementById('graphiql')
    );
    {% endblock %}
</script>
</body>
</html>
